.placeholder {
  font-size: 14px;
  color: #363740;
  line-height: 22px;
  font-family: PingFangSC-Regular;
  background-color: #f7f8fc;


  :global {
    .ant-prompts-title {
      font-family: AppleColorEmoji;
      font-size: 14px;
      color: #6a6b71;
      line-height: 22px;
    }

    .ant-welcome {
      background: #fff;
      border-radius: 12px;

      h4 {
        font-size: 20px;
        color: #363740;
        font-weight: 500;
        font-family: PingFangSC-Medium;
      }
    }
  }

  .ant-welcome {
    background: #fbfbfb;
    border-radius: 12px;

    h4 {
      font-size: 20px;
      color: #363740;
      font-weight: 500;
      font-family: PingFangSC-Medium;
    }
  }
}